{% extends "util/base.html"%}

{% block 'body-content' %}
	<h1>Book List</h1>
	
	<div>
		<h2>Filters:</h2>
		<form action="{% url filter_books %}" method="get">
			{{ filter_form.as_ul}}
			
			<input type="submit" value="Filter" />
		</form>
		<span>Total Search result: {{books.count}}</span>
	</div>	

	<div>
		{% for book in books %}			
			<div class="sub_content">
				<ul>
					<li>
						<strong>Name:</strong> {{ book.name }} 
					</li>
					<li>
						<strong>Author:</strong> {{ book.author }} 
					</li>
					<li>
						<strong>Publisher:</strong> {{ book.publisher }} 
					</li>
				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}