{% extends "util/base.html"%}

{% block 'body-content' %}
	<h1>Book List</h1>
	
	<div>
		<h2>Filters:</h2>
		<form action="{% url filter_books %}" method="get">
			{{ filter_form.as_ul}}
			
			<input type="submit" value="Filter" />
		</form>
	</div>	

	<div>
		{% for book in books %}			
			<div class="sub_content">
				<ul>
					<li>
						<strong>Name:</strong> {{ book.name }} 
					</li>
					<li>
						<strong>Desired Level:</strong> {{ book.desired_text }} 
					</li>
					<li>
						<strong>Purchased:</strong> {{ book.purchased }} 
					</li>
					<li>
						<strong>Author:</strong> {{ book.author }} 
					</li>
					<li>
						<strong>Publisher:</strong> {{ book.publisher }} 
					</li>
					{% if book.purchased %}							
						<li>
							<strong>Price:</strong> {{ book.purchase_value }} 
							<strong>Date Bought:</strong> {{ book.purchase_date }} 
						</li>
					{% else %}
						<form action="{% url mark_as_bought book.id %}" method="get"><input id="purchased_book" type="submit" value="Mark as Purchased!"></form>
						
					{% endif %}
				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}