{% extends "util/esqueleto.html"%}

{% block 'css-extras' %}
    <link href="{{ STATIC_URL }}js/booklet/jquery.booklet.1.4.0.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
	<link  rel='stylesheet' media='all'  type='text/css' href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block 'js-imports' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/booklet/jquery.easing.1.3.js" type="text/javascript"></script>
    
    <script src="{{ STATIC_URL }}js/booklet/jquery.booklet.1.4.0.js" type="text/javascript"></script>
    
{% endblock %}

{% block 'jquery-docready' %}
{{ block.super }}

		
		/** Check if the given data contains the 'not_authenticated' key as true,
		 if so then change the page to the login page. else simply return the correct data **/
		function check_login_or_redirect(data, callback){
			console.log("here");
		    if(data.not_authenticated){
		    	console.log("not authenticated");
		    	redirectLogin();
		    	return false;
		    }
			callback(data);
		}
		
		/* 'redirect' to login page */ 
		function redirectLogin(){
			getLoginHtml(function(loginHtml){
				var newPagesHtml =[];
				newPagesHtml.push(loginHtml);
				change_pages_content(newPagesHtml);
				console.log("new login button");
				var login_submit = $("#login-form input:submit");
				login_submit.click(function(){
					event.preventDefault();
					doLogin();
				});
				
				console.log($("#login-form input:submit"));
			});				
		}
		
		/* return the login html */			
		function getLoginHtml(callback){
			$.get('{% url login_form_ajax %}', function(data){
			   callback(data);
			});
		};				
		
		/* Login  tab*/
		var $login_tab = $("#login-tab");
		$login_tab.click(function(){ 
			event.preventDefault();
			redirectLogin();
		});
		
		function doLogin(){
			var login_form = $("#login-form");
			login_form.find(".error").remove();
			$.post('{% url login_ajax %}', login_form.serialize(),
				 function (data) {
			        console.log(data);
			        if(data.errors !== undefined){
			        
	                    //for each field in the errrors
	                    $.each(data.errors, function(key, value) { 
	                       	var field = login_form;
	                       	
	                       	//if it's not a general error, than add it to the expecific field
	                       	//else just add it to the form
	                    	if(key != "__all__"){
	                       		var field = login_form.find("[name='" + key + "']").parent();
	                    	}
	
	                        //add each error to the given field
	                        $.each(value, function(index, val){
	                           field.prepend("<span class='error'>"+val+"</span>");
	
	                        });
	                    });
			        
			        
			        }
			        else{
			        	gotoBookList();
			        }
		    	 }, "json");
			
		}
		
		var $mybook 		= $('#mybook');
		var $bttn_next		= $('#next_page_button');
		var $bttn_prev		= $('#prev_page_button');

        $bttn_next.show();
        $bttn_prev.show();
        $mybook.booklet({
                   
						name:               null,                            // name of the booklet to display in the document title bar
						width:              920,                             // container width
						height:             560,                             // container height
						closed:             false,                           // start with the book "closed", will add empty pages to beginning and end of book
						covers:             false,                           // used with  "closed", makes first and last pages into covers, without page numbers (if enabled)

						pageNumbers:        false,                            // display page numbers on each page
                        manual:             false,
						hovers:             false,                            // enables preview pageturn hover animation, shows a small preview of previous or next page on hover
						overlays:           false,                            // enables navigation using a page sized overlay, when enabled links inside the content will not be clickable
						hash:               false,                           // enables navigation using a hash string, ex: #/page/1 for page 1, will affect all booklets with 'hash' enabled
						keyboard:           false,                            // enables navigation with arrow keys (left: previous, right: next)

                        next:               $bttn_next,          			// selector for element to use as click trigger for next page
						prev:               $bttn_prev,          			// selector for element to use as click trigger for previous page

						before:             function(){},                    // callback invoked before each page turn animation
						after:              function(){}                     // callback invoked after each page turn animation
					});
		
		/* Book list  */
		var $book_list_tab = $("#book-list-tab");
		$book_list_tab.click(function(){ 
			event.preventDefault();
			gotoBookList();
		});
		
		/* go to book list pages */
		function gotoBookList(){		
			$.getJSON(
				'/books/',
				{ },
				function(jsonData) {
				
					check_login_or_redirect(jsonData, function(jsonData){
					 
						var booklet;
					    var booklist = jsonData.books;
					    var pageTotal = $('#mybook').booklet("option").pageTotal
					    
					    var booksHtmls = [];								    
					    for(var i=0; i< booklist.length ; i++){
						    var book = booklist[i];	
						    console.log(book);
						    booksHtmls.push(newBookHtml(book));  		
					    }
					    change_pages_content(booksHtmls);
						
					 });
				}
			);			
		}
		
		/* return the new book html */			
		function newBookHtml(book){
			var bookHtml = "<div><h1>Book List</h1>";
			bookHtml += "<h2>"+ book.name + "</h2>";
			bookHtml += "<ul>";
			$.each(book, function(key, val) {
				if(key == 'author' || key ==  'publisher' || key == 'purchase_store'){
					if(val != null)
						bookHtml += '<li><strong>' + key + ':</strong> ' + val.name + '</li>';
				}
				else if(key == 'desired'){
					bookHtml += '<li><strong>' + key + ':</strong> ' + val[1] + '</li>';				
				}
				else{
					bookHtml += '<li><strong>' + key + ':</strong> ' + val + '</li>';
				}
				
			});
			
			bookHtml += "</ul>";
			bookHtml += "</div>";
			
			return bookHtml;
		};
		
		
		
		
		/* Add Book  */
		var $add_book_tab = $("#book-list-tab");
		$book_list_tab.click(function(){ 
			event.preventDefault();
			gotoAddBook();
		});
		
		/* go to add book pages */
		function gotoAddBook(){		
			var new_pages = [];
			
		    change_pages_content(booksHtmls);	
		}
		
		/* return the new book form html */			
		function getNewBookFormHtml(callback){
			$.get('{% url login_form_ajax %}', function(data){
			   callback(data);
			});
		};				
		
		/** This function is the one that is going to change the pages
			So a new html array is passe to it, and it arranges each element in a new page, removing the old ones.
		 **/
		function change_pages_content(pagesHtmlList){
		    var pageTotal = $('#mybook').booklet("option").pageTotal;
		    console.log("pageTotal:"+pageTotal);
		    if(pagesHtmlList.length % 2 != 0){
		    	pagesHtmlList.push("<div></div>");
		    }
		    for(var i=0; i< pagesHtmlList.length ; i++){
			    var pageHtml = pagesHtmlList[i];	
			    console.log(pageHtml);
			    booklet = $('#mybook').booklet("add", "end", pageHtml);      		
		    }
		    
			booklet.bind("bookletchange", function(event, data) {
			
				//clearign the other page books 
			    for(var i=0; i< pageTotal; i++){
			    	console.log("removing:"+ i);
			    	booklet.booklet("remove", "start"); 
			    }
		    	booklet.unbind("bookletchange");
		    	booklet = booklet.booklet("gotopage","start");
			});
			
		    booklet = booklet.booklet("gotopage","end");
		
		}
{% endblock %}

{% block 'body-header' %}
		{% include "util/header.html" %} 
	 
{% endblock %}



{% block 'body-side' %}
		{% include "util/float-lateral.html" %} 
{% endblock %}


{% block 'body-main' %}
	 <div id='messages'></div> 
	 <div id='content' class='adjust_height'>
	 
		<div class="book_wrapper">
			<a id="next_page_button"></a>
			<a id="prev_page_button"></a>
            
            <div id="tabs">
                <ul>
                    <li>
                        <a href="#" id="login-tab">Login</a>
                    </li>

                    <li>                        
                        <a href="#" id="book-list-tab">Books List</a>
                    </li>
                    
                    <li>
                        <a href="#">Add Books</a>
                    </li>

                </ul>
                
            </div>
			<div id="mybook" >                 
						<div >
							<h1>About</h1>
								
							
						</div>
						<div >
							<h1>About</h1>
						</div>
			</div>
		</div>
		
	 </div>
{% endblock %}

{% block 'js-onpage' %}
{% endblock %}

{% block 'body-footer' %}
     {% include "util/footer.html" %} 
{% endblock %}
