{% extends "util/esqueleto.html"%}

{% block 'css-extras' %}
    	<link  rel='stylesheet' media='all'  type='text/css' href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block 'js-imports' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
   
{% endblock %}

{% block 'jquery-docready' %}
{{ block.super }}
{% endblock %}

{% block 'body-header' %}
		{% include "util/header.html" %} 
	 
{% endblock %}



{% block 'body-side' %}
		{% include "util/float-lateral.html" %} 
{% endblock %}


{% block 'body-main' %}
	 <div id='content' class='adjust_height'>
			{% block 'body-content' %}
			{% endblock %}
	 </div>
{% endblock %}

{% block 'js-onpage' %}
{% endblock %}

{% block 'body-footer' %}
     {% include "util/footer.html" %} 
{% endblock %}
