<div id="side" class="adjust_height">			
	<nav class="opt_menu">
		{% if request.user.is_authenticated %}
			<ul>
				<li><a href="{% url filter_books %}" >Book List</a></li>
				<li><a href="{% url new_book %}" >Add Book</a></li>
				<li><a href="{% url faqs %}" >FAQs</a></li>
				
			</ul>
		{% endif %}
	</nav>
	<div class="sub_content">		
		{% if request.user.is_authenticated %}
			<h2><a href="#" id="change_quota">Monthly Quota:</a></h2>
			<strong>Total:</strong>{{request.user.get_profile.quota.quota|stringformat:".2f"}}</br>
			<strong>Used:</strong>{{request.user.get_profile.used_monthly_quota|stringformat:".2f"}}
			
		{% endif %}
	</div>
	
</div>