<div id="side" >			
	<nav class="opt_menu adjust_height">
		{% if request.user.is_authenticated %}
			<ul>
				<li><a href="{% url filter_books %}" >Book List</a></li>
				<li><a href="{% url new_book %}" >Add Book</a></li>
				<li><a href="{% url new_genre %}" >Add Genre</a></li>
				<li><a href="{% url new_author %}" >Add Author</a></li>
				<li><a href="{% url new_publisher %}" >Add Publisher</a></li>
				<li><a href="{% url new_store %}" >Add Store</a></li>
				
			</ul>
		{% endif %}
	</nav>
</div>