{% extends "util/base.html"%}

{% block 'body-content' %}
	<h1>FAQs</h1>
	

	<div class="sub_content">
		<h2>How to start using it?</h2>
		<p>
		To use RMR you need to add the books that you want to buy, using the <strong>"Add Book"</strong> link.</br>
		To add a new book, just put the book information, and don't foget to choose how much you <strong>desire</strong> the book.</br>
		When adding a new book, you can also add new informations about it, like a new author, genre, publisher and etc...</br>
		Then just head to <strong>"Book List"</strong> and find what you want there using the filters to help you finding what you want.</br>
		</p>
	</div>
	<div class="sub_content">
		<h2>What is this Monthly Quota?</h2>
		<p>
		Just a way to help you controlling your expenses.</br>
		If you plan to expend no more than $30,00 in books each month, then,</br>
		just change your quota to this new value(by clicking in the header <strong>"Monthly Quota"</strong>).</br>
		Each book you buy in this month will appear in you <strong>Used Quota</strong>, simple as that.</br>
		You can put any value, as long as it's positive.
		</p>
	</div>
{% endblock %}