{% extends "util/base.html"%}

{% block 'body-content' %}
	<h1>Reader's "Must Read"</h1>
	

	<div class="sub_content">
		<p>Do you like reading?</br>
		Always want a new book?</br>
		But somehow you can't figure out which one to buy next?</br>
		Tired of writing down lists of your "Must Read" books?</br>
		Need help controlling your books expenses?</br>
		</p>
		
		
	</div>
	<div class="sub_content">
		<p>
		How about a place to control your <strong>"Must Read"</strong> books,</br>
		to help you out decide which one should you buy next?</br> 
		</p>
	</div>
	
	<div class="sub_content">
		<p>
		<strong>Reader's "Must Read"</strong> is a site, that offers you:</br>
		<ul>
			<li>A good way to organize your most wanted books
			</li>
			<li>Easy-to-use filters to find exactly what kind of books you should buy 
			</li>
			<li>Nice reports of your expenses, and easy to understand charts. 
			</li>
			<li><strong>Free</strong> to use it. 
			</li>
		</ul> 
		</p>
	</div>
	
	<div class="sub_content">
		<p>
		So don't wait anymore! <strong><a href="{% url register_user %}">Register now</a></strong> and start using this simple, yet useful system.</br>
		</p>
	</div>
{% endblock %}