{% extends "util/base.html"%}

{% block 'body-content' %}
	<h1>test</h1>
	

	<div class="sub_content">
		<div id="placeholder" style="width:600px;height:300px;">
		</div>
	</div>
{% endblock %}

{% block 'jquery-docready' %}
{{ block.super }}

	$.getJSON('{% url report_monthly_expenses_vs_quota %}', function(data) {
		console.log(data);
		var options = {
					    "xaxis": {
					        "axisLabel": "foo",
					        "axisLabelFontSizePixels": 20,
					        "axisLabelUseCanvas": true, 
					        "axisLabelFontFamily": "Arial"
					    }, 
					    "yaxis": {
					        "axisLabel": "bars", 
					        "axisLabelFontSizePixels": 20, 
					        "axisLabelUseCanvas": true, 
					        "axisLabelFontFamily": "Arial"
					    }
					}
	  $.plot($("#placeholder"), data.datas, data.options);
	});
{% endblock %}